body {
    display: flex;
    justify-content: center;
}

.customerList {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.content {
    width: 25%;
    height: auto;
}

.name {
    text-transform: capitalize;
}

.address {
    margin-top: 0px;
    margin-bottom: 0px;
}
